#container {
    display: grid;
    grid-template-columns: 150px 2fr;
    grid-template-rows: 4em 1fr 2em;
    grid-template-areas: "header header"
                         "left content"
                         "footer footer";           
}
#header {
    grid-area: header;
    background-color: rgba(0, 128, 0, 0.3);
    text-align: center;
}

#leftside {
    grid-area: left;
    background-color: rgb(164, 200, 188);

}

#rightside {
    grid-area: right;
    background-color:rgb(132, 172, 167);
}

#content {
    grid-area: content;
    background-color: rgb(132, 172, 167);
    text-align: center;
}


#footer {
    grid-area: footer;
    background-color: rgb(171, 208, 185);
    align-self:baseline;
    text-align: end;
}

img {
    width:400px;
}

a.menuList{text-decoration: none; color: grey;}
a.activePage{ color: rgb(70, 105, 70); border-bottom: solid; border-width: 3px;}


